Source: dpu-test-framework
Section: devel
Priority: optional
Maintainer: Niels Thykier <niels@thykier.net>
Uploaders: Paul Tagliamonte <tag@pault.ag>
Build-Depends: debhelper (>= 9),
 python-all (>= 2.6.6-3~),
 python-setuptools
Standards-Version: 3.9.3
X-Python-Version: >= 2.6

Package: dpu-test-framework
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python:Depends}, python-jinja2
Description: Debian package utility tester
